doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../CSS/style.css')
    script(src='../js/controllers/appController.js', type='module')
    title Wembox Inc
  body#app.app
    .app__loader(data-loader='loader')
      .app__loader__logo
        img(src='./../Imgs/logos/DALL-E/wembee-logo-v1.jpg', alt='')
        .logo
          span.logo__text.logo__text--burn Wembox
          span inc.
      .app__loader__loader
    section.app__chat-list
      header#app-header.app__header
        .app__header__details
          .person__img__container.person__img__container--decorated
            img.person__img.person__img--me(src=`/images/${user.profileImage}`, alt=`${user.frontEndUsername}`, data-username=`${user.username}`, data-type='profile-gateway')
          div
            span.app__header__notifications
              svg.app__header__notifications-icon(xmlns='http://www.w3.org/2000/svg', height='24px', viewBox='0 -960 960 960', width='24px')
                path(d='M480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80Zm0-420ZM200-200q-17 0-28.5-11.5T160-240q0-17 11.5-28.5T200-280h40v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v13q-11 22-16 45t-4 47q-10-2-19.5-3.5T480-720q-66 0-113 47t-47 113v280h320v-257q18 8 38.5 12.5T720-520v240h40q17 0 28.5 11.5T800-240q0 17-11.5 28.5T760-200H200Zm520-400q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Z')
        nav#app-nav.app__nav.fixed
          span.active chats
      section.app__chat-list__list(data-type='contact-list')
        .glassmorph.app__no-contacts
          .app__no-contacts__logo
            svg.app__no-contacts__logo-icon(xmlns='http://www.w3.org/2000/svg', height='90', viewBox='0 -960 960 960', width='90')
              path(d='m438-452-58-57q-11-11-27.5-11T324-508q-11 11-11 28t11 28l86 86q12 12 28 12t28-12l170-170q12-12 11.5-28T636-592q-12-12-28.5-12.5T579-593L438-452ZM326-90l-58-98-110-24q-15-3-24-15.5t-7-27.5l11-113-75-86q-10-11-10-26t10-26l75-86-11-113q-2-15 7-27.5t24-15.5l110-24 58-98q8-13 22-17.5t28 1.5l104 44 104-44q14-6 28-1.5t22 17.5l58 98 110 24q15 3 24 15.5t7 27.5l-11 113 75 86q10 11 10 26t-10 26l-75 86 11 113q2 15-7 27.5T802-212l-110 24-58 98q-8 13-22 17.5T584-74l-104-44-104 44q-14 6-28 1.5T326-90Zm52-72 102-44 104 44 56-96 110-26-10-112 74-84-74-86 10-112-110-24-58-96-102 44-104-44-56 96-110 24 10 112-74 86 74 84-10 114 110 24 58 96Zm102-318Z')
            h3 You have no contacts yet!.
          h5
            | You can Send a contact request below to people you might know or find
            | interesting.
        //
          <div class="entity">
          <div>
          <img
          src="../Imgs/users/leo.jpg"
          alt="profile image of Leo Conan"
          class="person__img entity__img"
          />
          </div>
          <div class="entity__content">
          <div class="entity__title">Leo Conan</div>
          <div class="entity__message">
          <p class="entity__message__message">
          hello bro, any update jnaerg sgwejokerg awerfonre awerfonre
          awerfonre awerfonre
          </p>
          <span class="entity__message__time">12:30am</span>
          </div>
          </div>
          </div>
      div#suggestion-container.suggestion__container.glassmorph(data-type='contact-request')
        p Contact suggestions are rolling in....
    section.app__chat-container.chat__container
      .chat__container--pre-load
        img(src='./../Imgs/logos/DALL-E/wembee-logo-v1.jpg', alt='')
        .logo
          span.logo__text.logo__text--burn Wembox
          span inc.
    